
{% extends "content-base.html" %}

{% block content_modifiers -%}
    {{ super() }} kbyo
{%- endblock %}

{% block title %}
    Know Before You Owe: Mortgages &gt; Consumer Financial Protection Bureau
{% endblock %}


{% block desc %}
    Helping consumers understand their loan options, shop for the mortgage that’s best for them, and avoid costly surprises at the closing table.
{% endblock %}


{% block hero %}

<section class="m-hero kbyo-hero">
    <div class="m-hero_wrapper wrapper">
        <div class="m-hero_text">
            <h1 class="m-hero_heading">Know Before You Owe <span class="kbyo-hero__heading-pipe">|</span> Mortgages</h1>
            <div class="m-hero_subhead">
                <p>The CFPB’s mortgage initiative is designed to help consumers understand their loan options, shop for the mortgage that’s best for them, and avoid costly surprises at the closing table.</p>
            </div>
        </div>
        <div class="m-hero_image-wrapper">
            <div class="m-hero_image"></div>
        </div>
    </div>
</section>
{% endblock %}

{% block body_content %}
  <div class="wrapper content_wrapper wrapper__match-content">
    <div class="content_m">
    <section class="kbyo-video block">
        <div class="o-info-unit-group">
          <div class="content-l">
            <div class="content-l_col content-l_col-1-2">
              <div class="m-info-unit">
                <div class="m-info-unit_content">
                  <div class="responsive-object">
                    <iframe allowfullscreen frameborder="0" src="https://www.youtube.com/embed/AwZERLDHJf0?feature=oembed&showinfo=0&wmode=transparent"></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-l_col content-l_col-1-2">
              <div class="m-info-unit">
                <div class="m-info-unit_content">
                  <h2>Making the mortgage process easier</h2>
                  <p>The Know Before You Owe mortgage disclosure rule replaces four disclosure forms with two new ones, the Loan Estimate and the Closing Disclosure. The new forms are easier to understand and easier to use. The rule also requires that you get three business days to review your Closing Disclosure and ask questions before you close on a mortgage.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="kbyo-tools 
                    block 
                    block__padded-top 
                    block__border-top">
      <div class="o-info-unit-group">
        <h2>Tools and resources</h2>
        <p>Mortgages can be complex and confusing. To supplement the rule, we’ve created several resources to help you as you navigate the mortgage process. </p>
        <div class="content-l">
          <div class="content-l_col content-l_col-1 kbyo-tools__loan-estimate">
            <div class="m-info-unit m-info-unit__inline">
              <a href="/owning-a-home/loan-estimate/">
                <div class="m-info-unit_image m-info-unit_image__square"></div>
              </a>
              <div class="m-info-unit_content">
                <a class="m-info-unit_heading-link" href="/owning-a-home/loan-estimate/">
                  <h3>Sample Loan Estimate</h3>
                </a>
                <p>The Loan Estimate makes it easier to shop around and compare loan offers from multiple lenders. Our interactive sample form will help you double check the details and get definitions for terms used on the Loan Estimate.</p>
                <ul class="m-list m-list__links u-mt15">
                  <li class="m-list_item">
                    <a class="m-list_link" href="/owning-a-home/loan-estimate/">Explore a sample Loan Estimate</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content-l_col content-l_col-1 kbyo-tools__closing-disclosure">
            <div class="m-info-unit m-info-unit__inline">
              <a href="/owning-a-home/closing-disclosure/">
                <div class="m-info-unit_image m-info-unit_image__square"></div>
              </a>
              <div class="m-info-unit_content">
                <a class="m-info-unit_heading-link" href="/owning-a-home/closing-disclosure/">
                  <h3>Sample Closing Disclosure</h3>
                </a>
                <p>The Closing Disclosure helps you avoid costly surprises at the closing table. Use our interactive sample form to help you compare your Loan Estimate to the Closing Disclosure and make sure that you understand the reason for any differences.</p>
                <ul class="m-list m-list__links u-mt15">
                  <li class="m-list_item">
                    <a class="m-list_link" href="/owning-a-home/closing-disclosure/">
                      Explore a sample Closing Disclosure
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content-l_col content-l_col-1 kbyo-tools__owning-a-home">
            <div class="m-info-unit m-info-unit__inline">
              <a href="/owning-a-home/">
                <div class="m-info-unit_image m-info-unit_image__square"></div>
              </a>
              <div class="m-info-unit_content">
                <a class="m-info-unit_heading-link" href="/owning-a-home/">
                  <h3>Owning a Home</h3>
                </a>
                <p>This suite of tools and resources guides you through the process of getting a mortgage. It will help you explore interest rates in your area, understand loan options, and prepare you for closing.</p>
                <ul class="m-list m-list__links u-mt15">
                  <li class="m-list_item">
                    <a class="m-list_link" href="/owning-a-home/">Visit Owning a Home</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content-l_col content-l_col-1 kbyo-tools__home-loan-toolkit">
            <div class="m-info-unit m-info-unit__inline">
              <a href="/f/201503_cfpb_your-home-loan-toolkit-web.pdf">
                <div class="m-info-unit_image m-info-unit_image__square"></div>
              </a>
              <div class="m-info-unit_content">
                <a class="m-info-unit_heading-link" href="/f/201503_cfpb_your-home-loan-toolkit-web.pdf">
                  <h3>Your Home Loan Toolkit</h3>
                </a>
                <p>This booklet takes you from budgeting to closing with worksheets, checklists, and conversation starters. You’ll get a copy when you apply for a home purchase mortgage, but you can also download a copy now.</p>
                <ul class="m-list m-list__links u-mt15">
                  <li class="m-list_item">
                    <a class="m-list_link a-link a-link__icon cf-icon cf-icon__after cf-icon-download" href="/f/201503_cfpb_your-home-loan-toolkit-web.pdf"><span class="a-link_text">Download the toolkit</span> </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
  </div>
  <section class="kbyo-professional-resources 
                  block 
                  block__border-top
                  block__border-bottom
                  u-mt15">
    <div class="wrapper content_wrapper wrapper__match-content">
      <div class="content_m">
      <div class="o-info-unit-group">
        <H2>
          Resources for professionals
        </H2>
        <div class="content-l">
          <div class="content-l_col content-l_col-1-2">
            <div class="m-info-unit">
              <div class="m-info-unit_content">
                <a class="m-info-unit_heading-link" href="/regulatory-implementation/tila-respa/">
                  <h3>Mortgage professionals</h3>
                </a>
                Since 2013, we have been working with lenders, creditors, compliance officers, software companies, and other groups to prepare for implementation of the rule.
                <ul class="m-list m-list__links u-mt15">
                  <li class="m-list_item">
                    <a class="m-list_link" href="/regulatory-implementation/tila-respa/">Visit the Regulatory Implementation page</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content-l_col content-l_col-1-2">
            <div class="m-info-unit">
              <div class="m-info-unit_content">
                <a class="m-info-unit_heading-link" href="/know-before-you-owe/real-estate-professionals/">
                  <h3>Real estate professionals</h3>
                </a>
                Engage, educate, and inform your clients on the new mortgage disclosures and process with our tools and resources. Learn how to ensure smooth and on time closings and find resources to share with your clients.
                <ul class="m-list m-list__links u-mt15">
                  <li class="m-list_item">
                    <a class="m-list_link" href="/know-before-you-owe/real-estate-professionals/">Visit our real estate professional’s guide</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content-l_col content-l_col-1-2">
            <div class="m-info-unit">
              <div class="m-info-unit_content">
                <a class="m-info-unit_heading-link" href="/external-site/?ext_url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DZS49Mmym6Ko%26feature%3Dyoutu.be&amp;signature=KFisMZzjWe_hgALAOABNWT0l59M">
                  <h3>Housing counselors</h3>
                </a>
                Assist consumers as they navigate through the new mortgage process. Educate your clients on the new disclosures and timing requirements with our tools and resources.
                <ul class="m-list m-list__links u-mt15">
                  <li class="m-list_item">
                    <a class="m-list_link a-link a-link__icon cf-icon cf-icon__after cf-icon-external-link" href="/external-site/?ext_url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DZS49Mmym6Ko%26feature%3Dyoutu.be&amp;signature=KFisMZzjWe_hgALAOABNWT0l59M"><span class="a-link_text">View a webinar on the rule</span> </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content-l_col content-l_col-1-2">
            <div class="m-info-unit">
              <div class="m-info-unit_content">
                <a class="m-info-unit_heading-link" href="/policy-compliance/know-you-owe-mortgages/settlement-professionals-guide/">
                  <h3>Settlement professionals</h3>
                </a>
                This guide was designed to help settlement professionals navigate through the changes that are a part of the Know Before You Owe mortgage initiative.
                <ul class="m-list m-list__links u-mt15">
                  <li class="m-list_item">
                    <a class="m-list_link" href="/policy-compliance/know-you-owe-mortgages/settlement-professionals-guide/">Visit our settlement professional’s guide</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content-l_col content-l_col-1-2">
            <div class="m-info-unit">
              <div class="m-info-unit_content">
                <a class="m-info-unit_heading-link" href="/newsroom/cfpb-releases-new-owning-a-home-tools-to-help-consumers-shop-for-a-mortgage/">
                  <h3>Media</h3>
                </a>
                We have created resources to help you understand and tell the story of the CFPB’s Know Before You Owe mortgage initiative, which has been a focal point of the Bureau since its start.
                <ul class="m-list m-list__links u-mt15">
                  <li class="m-list_item">
                    <a class="m-list_link" href="/newsroom/cfpb-releases-new-owning-a-home-tools-to-help-consumers-shop-for-a-mortgage/">Read the press release and download a press kit</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- /.professional-resources -->
  <div class=" wrapper content_wrapper wrapper__match-content">
    <div class="content_m">
    <section class="kbyo-mortgage-disclosures
                    block
                    block__flush-top">
      <div class="o-info-unit-group" id="creating-new-mortgage-disclosures">
        <H2>
          Creating new mortgage disclosures
        </H2>
        <div class="content-l">
          <div class="content-l_col content-l_col-1-2">
            <div class="m-info-unit">
              <div class="m-info-unit_content">
                <a class="m-info-unit_heading-link" href="/know-before-you-owe/compare/">
                  <h3>Why we created new disclosures</h3>
                </a>
                <p>The Consumer Financial Protection Bureau (CFPB) is a government agency built to protect consumers. We help keep banks and other financial service providers consumers depend on every day operating fairly.</p>
                <p>After the housing crisis, Congress directed us to combine existing federal mortgage disclosures: the initial Truth–in-Lending disclosure with the Good Faith Estimate and the final Truth-in-Lending disclosure with the HUD-1 Settlement Statement. These disclosures had overlapping information and complicated terms, which made them hard for borrowers to understand and for lenders to explain.</p>
                <ul class="m-list m-list__links u-mt15">
                  <li class="m-list_item">
                    <a class="m-list_link" href="/know-before-you-owe/compare/">Compare the new disclosures to the old ones</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content-l_col content-l_col-1-2">
            <div class="m-info-unit">
              <div class="m-info-unit_content">
                <a class="m-info-unit_heading-link" href="/know-before-you-owe/compare/">
                  <h3>How we created new disclosures</h3>
                </a>
                <p>We involved the people who will actually use the new forms—consumers, lenders, mortgage brokers, settlement agents—in helping to combine and improve them. After several rounds of qualitative testing, we found that users were able to see the difference between prices on their Loan Estimate to those quoted on the Closing Disclosure and they were able to identify costs they could shop for, among other findings. </p>
                <p>To be sure that the Loan Estimate and the Closing Disclosure are easier to use and understand than the existing forms, we tested them in a quantitative validation study. Participants provided more correct answers about a sample mortgage using the new forms than they did using the previous forms.</p>
                <ul class="m-list m-list__links u-mt15">
                  <li class="m-list_item">
                    <a class="m-list_link" href="/know-before-you-owe/compare/">Review testing results</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /.mortgage-disclosures -->
    
    <section id="timeline" class="kbyo-timeline 
                                  block
                                  block__border-top
                                  block__padded-top
                                  block__flush-bottom">
      <div class="kbyo-timeline__row">
        <div class="kbyo-timeline__intro">
          <h2>Timeline</h2>
          <p>Follow this timeline to understand the process of how this rule and our work around it has developed since the CFPB’s beginnings.
            <a class="styled-link"
              href="/know-before-you-owe/timeline/">Read the full timeline.</a>
          </p>
        </div>
      </div>
      <div class="kbyo-timeline__wrapper u-mt15">
        <div id="timeline-embed"></div>
      </div>
      <script type="text/javascript" src="/static/timeline/js/storyjs-embed.js"></script>
    </section>
    </div>
  </div>
  
  <!-- /.content_wrapper -->
  <section class="kbyo-footer 
                  block 
                  block__border-top 
                  block__flush-bottom">
    <div class="wrapper content_wrapper wrapper__match-content">
      <div class="content-l">
        <div class="content-l_col content-l_col-1-2">
          <div class="m-related-links">
            <header class="m-slug-header">
              <h2 class="a-heading">
                Reports
              </h2>
            </header>
            <ul class="m-list m-list__unstyled m-list__links">
              <li class="m-list_item">
                <a href="/reports/leveraging-technology-to-empower-mortgage-consumers-at-closing/" class="m-list_link">Leveraging technology to empower mortgage consumers at closing</a>
              </li>
              <li class="m-list_item">
                <a href="/reports/consumers-mortgage-shopping-experience/" class="m-list_link">Consumers’ mortgage shopping experience</a>
              </li>
              <li class="m-list_item">
                <a href="/f/201207_cfpb_report_tila-respa-sbrefa-feedback.pdf" class="m-list_link">A report on our discussions with small businesses</a>
              </li>
              <li class="m-list_item">
                <a href="/know-before-you-owe/compare/" class="m-list_link">Learn more about the research we did to develop the new forms</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="content-l_col content-l_col-1-2">
          <div class="m-related-links">
            <header class="m-slug-header">
              <h2 class="a-heading">
                Related links
              </h2>
            </header>
            <ul class="m-list m-list__unstyled m-list__links">
              <li class="m-list_item">
                <a href="/f/201311_cfpb_kbyo_loan-estimate_blank.pdf" class="m-list_link">Download a blank Loan Estimate form</a>
              </li>
              <li class="m-list_item">
                <a href="/f/201311_cfpb_kbyo_closing-disclosure_blank.pdf" class="m-list_link">Download a blank Closing Disclosure form</a>
              </li>
            </ul>
          </div>
      </div>
      <div class="content-l_col content-l_col-1-2">
        <div class="m-related-links">
          <header class="m-slug-header">
            <h2 class="a-heading">
              Legal Disclaimer
            </h2>
          </header>
          The content on this page provides general consumer information.
          It is not legal advice or regulatory guidance.
          The CFPB updates this information periodically.
          This information may include links or references
          to third-party resources or content.
          We do not endorse the third-party or guarantee the accuracy
          of this third-party information.
          There may be other resources that also serve your needs.
        </div>
      </div>
    </div>
    </div>
    <!-- /.kbyo-footer__wrapper -->
  </section>
  <!-- /.kbyo-footer -->

{% endblock %}


{% block post_content scoped -%}{%- endblock %}
