{# ==========================================================================


   content_block
   ==========================================================================

   Description:


   Create a layout block organism that contains content.

   value:        A container object.

   ========================================================================== #}
{% import 'organisms/content-row.html' as row %}
    <div class="block
                o-info-unit-group
                {{ ' block__border-top' if value.borders.top else ''}}
                {{ ' block__border-bottom' if value.borders.bottom else ''}}
                {{ ' block__border-left' if value.borders.left else ''}}
                {{ ' block__border-right' if value.borders.right else ''}}
                {{ ' block__padded-top' if value.borders.top else ''}}
                {{ ' block__padded-bottom' if value.borders.bottom else ''}}
                {{ ' block__padded-top' if value.has_padded_top else ''}}
                {{ ' block__padded-bottom' if value.has_padded_bottom else ''}}
                {{ value.margins.top if value.margins.top != 'default' else '' }}
                {{ value.margins.bottom if value.margins.bottom != 'default' else '' }}
                {{ ' block__bg' if value.has_background else ''}}">
      {% for block in value.block_content %}
          {% if block.block_type == 'row' %}
            {{row.render(block.value, row_borders=value.lines_between_rows)}}
            
          {% else %}
          {{ render_stream_child(block) | safe }}
          {% endif %}
      {% endfor %}
    </div>

