{# ==========================================================================

   column.render()

   ==========================================================================

   Description:

   Create a Column organism that contains content blocks.

   value:                    An object with column details.

   value.column_width:       Width of column.

   value.column_content:     Content blocks

   ========================================================================== #}


{% macro render( value, equal_height=False ) %}
    <div class="content-l_col 
                content-l_col-{{ value.column_width if value.column_width else 1 }}
                {% if value.border_before %}
                content-l_col__before-divider
                {% endif %}
                {{ ' content-l_col__equal-height' if equal_height else '' }}">
      {% if value.has_border or value.has_background %}
      <div class="block 
                  sub_block
                  u-mt0
                  u-mb0
                  {{' block__bg' if value.has_background else ''}}
                  {{' block__border' if value.has_border else ''}}"
           style="padding:30px 15px;">
        {% endif %}
      {% for block in value.column_content %}
          {{ render_stream_child(block) | safe }}
      {% endfor %}
      {% if value.has_border or value.has_background %}

      </div>
      {% endif %}
    </div>
{% endmacro %}