
{# ==========================================================================

   Full Width Text

   ==========================================================================

   Description:

   Create a full width text organism.
   See [GHE]/flapjack/Modules-V1/wiki/Full-Width-Copy

   ========================================================================== #}

<div class="o-full-width-text-group">
    {% if not value.lines_between %}
    <div class="content-l">
    {% endif %}
    {% for block in value %}
        {% set prev_block = value.content[loop.index - 2] if loop.index > 1 else '' %}
        {% if value.lines_between and 
           ( loop.index == 1 or 
           ( prev_block.block_type not in ['quote', 'related_links', 'image_inset'] and
             not prev_block.value.is_inset )
        ) %}
        <div class="content-l content-l_top-divider">
        {% endif %}
        
        <div class="content-l_col content-l_col-1">
        {% set block_type = block.block_type %}
        {% if 'content_with_anchor' in block_type %}
                {{ render_stream_child(block) | safe }}
        {% elif 'content' in block_type %}
            <div class="m-full-width-text">
                {{ parse_links(block.value) | safe }}
            </div>
        {% elif 'table' in block_type %}
            <div class="m-full-width-text">
                {{ render_stream_child(block) | safe}}
            </div>
        {% elif 'media' in block_type %}
            <div class="m-full-width-media">
                {% set media = image(block.value, 'original') %}
                <img class="m-full-width-media_image"
                     src="{{ media.url }}"
                     alt="{{ image_alt_value(media) }}">
            </div>
        {% elif block_type in ['quote', 'related_links']
           or 'cta' in block_type and block.value.is_inset %}
            <div class="m-inset
                    {{ 'm-inset__test'
                       if flag_enabled('INSET_TEST', request) else '' }}">
                {{ block | safe }}
            </div>
        {% else %}
            {{ block | safe }}
        {% endif %}
        </div>
        {% if value.lines_between and 
           ( loop.index == value.content | length or 
           ( block_type not in ['quote', 'related_links', 'image_inset'] and
             not block.value.is_inset )
        ) %}
        </div>
        {% endif %}
    {% endfor %}
    {% if not value.lines_between %}
    </div>
    {% endif %}
</div>
