/* Begin HUD HCA API Landing Page additions */

/* Normalize link highlighting */
a:hover, a:focus {
    background-color: transparent;
}

.hud_hca_intro {
    max-width: 53rem;
    margin-bottom: 30px;
}

/* Form */
.hud_hca_api_interactions {
	margin-bottom: 2em;
	margin-top: 1em;
}

.hud_hca_api_form_container {
	border: 1px solid #b4b5b6;
    background-color: #f7f8f9;
	position: relative;
	margin: 1em 0;
}

.hud_hca_api_form_container a {
	background: transparent;
	border-bottom-color: #101820;
	color: #101820;
}

.hud_hca_api_form_container a:hover,
.hud_hca_api_form_container a:focus,
.hud_hca_api_form_container a:active {
	border-bottom-width: solid;
}

.hud_hca_api_form_container .input-with-btn__bar {
    max-width: 450px;
}

.hud_hca_api_form {
	margin: 0 15px;
	padding: 1.5em 0 1em;
}

.hud_hca_api_form input {
	width: 100%;
}

.hud_hca_api_form label {
	cursor: default;
	display: block;
	font-family: "Avenir Next", Verdana, sans-serif;
	font-weight: 600;
	margin-bottom: 15px;
}

.hud_hca_api_form_button {
  margin-top: 2em;
	margin-bottom: 2.5em;
	padding-bottom: 1em;
	padding-top: 1em;
	width: 100%;
}

@media only all and (min-width:49.9475em){
    .hud_hca_api_form form {
        display: table;
        width: 100%;
    }

    .hud_hca_api_form label {
        white-space: nowrap;
        display: table-cell;
        width: 1%;
        padding-right: 10px;
    }

    .hud_hca_api_form .search-bar {
        display: table-cell;
        width: 100%;
    }

    .hud_hca_api_form .input-with-btn_btn {
        white-space: nowrap;
    }
}


/* Flexible iFrame for Map
   http://niklausgerber.com/blog/responsive-google-or-bing-maps/
*/
.flex_container {
    position: relative;
    padding-bottom: 61%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flex_container iframe,
.flex_containe object,
.flex_containe embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#hud_hca_api_map_canvas {
	position: relative;
	top: -2em;
	height: 443px;
	width: 678px;
}

@media only all and (max-width: 37.5em) {
    #hud_hca_api_map_canvas {
    	height: 300px;
    	width: 678px;
    }
}

#hud_hca_api_map_canvas img {
	max-width: none;
}

/* Grid */
.hud_hca_api_grid_twothird > .col {
	display: inline-block;
		/* IE7 hack to mimic inline-block on block elements */
	*display: inline;
	*zoom: 1;
	width: 69.4%;
	vertical-align: top;
}

.hud_hca_api_grid_twothird > div.col:first-child {
	margin-right: 2.04918%;
	width: 27.7%;
}

/* Results listing */
.hud_hca_api_results_listing {
	border: 0;
	width: 100%;
}

.hud_hca_api_titles {
	background-color: #fff;
	border-bottom: 1px solid #101820;
	border-top: 1px solid #101820;
	border-left: 0;
	border-right: 0;
	color: #333;
	font-size: 1.25em;
	padding: 1em;
	text-align: left;
}

.hud_hca_api_titles_left {
	padding-left: 2%;
	width: 40%;
}

.hud_hca_api_titles_middle {
	padding-left: 2%;
	width: 40%;
}

.hud_hca_api_titles_right {
	width: 12%;
}

#hud_hca_api_message {
	font-size: 1.25em;
	font-weight: 600;
	margin: 1em 0;
}

.hud_hca_api_results {
	font-family: "Avenir Next", Arial, sans-serif;
}

.hud_hca_api_results_total {
	float: left;
	margin-right: 2.04918%;
	margin-top: 1em;
	width: 48.75%;
}

.hud_hca_api_results_actions {
	float: right;
	margin-top: 1em;
	width: 48.75%;
}

.hud_hca_api_results_total p {
	font-weight: 600;
	line-height: 1.85;
	padding: 0 1em;
}

.hud_hca_api_results_actions p {
	font-size: 0.875em;
	line-height: 1.85;
	padding: 0 1em;
	text-align: right;
}

.hud_hca_api_results_print {
	display: inline-block;
	/* IE7 hack to mimic inline-block on block elements */
		*display: inline;
		*zoom: 1;
		vertical-align: top;
	height: 1.875em;
	margin-right: 2.04918%;
}
.hud_hca_api_results_save {
	display: inline-block;
		/* IE7 hack to mimic inline-block on block elements */
		*display: inline;
		*zoom: 1;
		vertical-align: top;
	height: 1.875em;
}

.hud_hca_api_result {
	border-bottom: 1px solid #babbbd;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	line-height: 1.5;
	padding: 1.5em 1em;
}

.hud_hca_api_num {
	float: left;
	padding-right: 2.04918%;
	width: 5%;
}

.hud_hca_api_counselor_info_container {
	float: left;
	width: 88.95082%;
}

.hud_hca_api_counselor,
.hud_hca_api_results_listing_title {
	font-weight: 600;
}

.hud_hca_api_adr,
.hud_hca_api_region {
	display: block;
}

.hud_hca_api_results_listing_title span {
	font-weight: normal;
}

.hud_hca_api_counselor_address {
	display: block;
	margin-bottom: 1em;
}

.hud_hca_api_results_listing_title,
.hud_hca_api_counselor_address,
.hud_hca_api_serv_item {
	display: block;
}

.hud_hca_api_serv_item:before {
    content: "\2013\00a0";
}

/* Show/Hide for results */
.hud_hca_api_pras .show-hide-icon {
	color: #4d819a;
}

.hud_hca_api_pras .show-hide-link {
	font-size: 0.875em;
}

.hud_hca_api_pras {
	font-family: Georgia, "Times New Roman", serif;
	margin: 1em 0;
}

.bread {
  margin: 0;
}

/* Override to remove default Nemo PDF download icon */
.pdf {
    background: none;
    padding-right: 0;
}

/* End HUD HCA API Landing Page additions */

/* Hide from both screenreaders and browsers: h5bp.com/u */
.cfpb_hide {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.cfpb_visually_hide {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
.cfpb_visually_hide.focusable:active,
.cfpb_visually_hide.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.cfpb_invisible {
    visibility: hidden;
}

/* Wrapper */

@media only all and (min-width:56.3125em) {     
    .wrapper,
    .content_wrapper {
        max-width: 1200px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto; clear:both
        
    }
}
.wrapper__match-content,
.content_wrapper__match-content {
    padding-left: 15px;
    padding-right: 15px;
}

@media only all and (min-width:37.5625em) {  
    .wrapper__match-content,
    .content_wrapper__match-content {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 1200px;
    }
}
.lt-ie9 .wrapper,
.lt-ie9 .content_wrapper {
    max-width: 960px;
}
.lt-ie9 body {
    min-width: 800px;
}

@media only all and (min-width:37.5625em) {
    .wrapper__match-content {
        max-width: 1170px;
    }
}

.content_main{
    margin-top: 1.875em;
}


/* Breadcrumbs */
.breadcrumbs {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid transparent;
    border-width: 0 15px 0 0;
    margin-right: -0.25em;
    vertical-align: top;
    padding-top: 2.14285714em;
    font-size: .875em;
    overflow-x: auto;
    white-space: nowrap;
}
.breadcrumbs:before {
    color: #0072ce;
    content: "\e000";
    font-family: 'CFPB Minicons';
}
@media only all and (max-width: 56.25em) {
    .breadcrumbs {
        padding-top: 1.07142857em;
        padding-bottom: 1.07142857em;
    }
}
.breadcrumbs_link {
    padding-left: 4px;
}
.breadcrumbs_link:not(:last-child):after {
    padding-left: 4px;
    color: #101820;
    content: ' /';
}
@media print {
    .breadcrumbs {
        display: none;
    }
}
.print .breadcrumbs {
    display: none;
}


/* Inline form */

.input-with-btn input {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: .875em;
}
.input-with-btn input:focus {
    -webkit-box-shadow: 0 0 0 1px #0072ce inset;
    box-shadow: 0 0 0 1px #0072ce inset;
    outline: none;
}
.input-with-btn__bar {
    display: table;
    width: 100%;
}
@supports ((display: -webkit-box) or (display: flex)) {
    .input-with-btn__bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: auto;
    }
}
.input-with-btn__bar .input-with-btn_input {
    display: table-cell;
    width: 100%;
    float: left;
    margin-bottom: 0;
}
@supports ((display: -webkit-box) or (display: flex)) {
    .input-with-btn__bar .input-with-btn_input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: auto;
        float: none;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}
.input-with-btn__bar .input-with-btn_btn {
    margin: 0;
    border: 0;
    display: table-cell;
    width: 1%;
    vertical-align: middle;
}
@supports ((display: -webkit-box) or (display: flex)) {
    .input-with-btn__bar .input-with-btn_btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: auto;
    }
}
.input-with-btn__bar .input-with-btn_btn button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 33px;
}


/* Stack table on small screens */
@media only all and (max-width:49.9375em){
    #hud_hca_api_results_table th {
        display: none;
    }
    #hud_hca_api_results_table tr,
    #hud_hca_api_results_table td {
        display: block;
        padding-left: 0;
    }
    #hud_hca_api_results_table td {
        border-width: 0 !important;
        padding: 0 !important;
    }
    .hud_hca_api_counselors_td div {
        display: block;
        float: none;
    }
    
    .hud_hca_api_results_total,
    .hud_hca_api_results_actions {
        display: block;
        float: none;
        width: auto;
    }
    
    .hud_hca_api_results_total p,
    .hud_hca_api_results_actions p {
        padding-left: 0;
    }
    
    .hud_hca_api_results_actions p {
        text-align: left;
        display: block;
    }
    
    .hud_hca_api_results_actions {
        margin-top: .5em;
        margin-bottom: .5em;
    }
    
    .hud_hca_api_results_listing_title {
        display: block !important;
        visibility: visible !important;
    }
    .hud_hca_api_services, 
    .hud_hca_api_distance {
        margin-top: 1em;
    }
}

.share.mini {
    float: right;
    padding-top: 2.14285714em;
}

.botshare {
    display: none;
}

/* Github info footer */

.hud_hca_api_more_info {
	border-top: 1px solid #75787b;
	margin: 0;
	padding: 30px 0 45px 0;
    
}

.hud_hca_api_more_info p {
	max-width: 53rem;
}
